html {
  background: url(https://i0.wp.com/www.desertislandcloud.com/wp-content/uploads/2021/10/AlarmingKeenHydra-size_restricted.gif)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background-color: transparent;
}

.waiting-board {
  margin-left: 2rem;
  background: transparent;
  color: white;
  position: absolute;
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
}

.up {
  transition: 0.9s;
  opacity: 0.99;
  filter: drop-shadow(20px 20px 20px rgb(234 0 255 / 1.3));
}

.down {
  transition: 0.7s;
  opacity: 0;
}

.character-section {
  position: absolute;
  transition: 0.9s;
}

.character-left {
  margin-left: 7vw;
  margin-top: 50vh;
  z-index: 1;
  scale: 1.2;
}

.character-center {
  margin-top: 40vh;
  margin-left: 47vw;
  z-index: 3;
}

.character-right {
  margin-top: 20vw;
  margin-left: 55vw;
  z-index: 2;
  scale: 0.8;
}

.character-left:hover {
  filter: drop-shadow(20px 20px 20px rgb(31 81 255 / 1.3));
}
.character-right:hover {
  filter: drop-shadow(20px 20px 20px rgb(15 240 252 / 1.3));
}
.character-center:hover {
  filter: drop-shadow(20px 20px 20px rgb(255 49 49 / 1.3));
}

@media (width <= 1200px) {
  .character-left {
    margin-left: -25vw;
  }
}

@media (width >= 1600px) {
  .character-right {
    margin-top: 15vw;
    margin-left: 60vw;
  }
}

ul {
  font-family: monospace;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 25vh 5vw;
  position: absolute;
  color: white;
  z-index: 4;
}

li {
  list-style: none;
}

.button {
  cursor: pointer;
  font-size: large;
  font-family: inherit;
  font-weight: bold;
  color: #0011ff;
  background-color: #f8f8fd;
  border-radius: 50em;
  border: 6px solid #8b93f8;
  box-shadow: 0px 5px #1f35ff;
  position: absolute;
  top: 3rem;
  right: 2rem;
  font-size: 2rem;
}

.button:active {
  font-size: 2rem;
  position: relative;
  border: 6px solid #646fff;
  box-shadow: 0px 0px;
  border-radius: 50em;
  border: 6px solid #8b93f8;
  box-shadow: 0px 3px #1f35ff;
  position: absolute;
  top: 3rem;
  right: 2rem;
}
